<!DOCTYPE html>
<html lang="en">
    
    <head>
        <!-- <script src="javascripts/on-off-example.js"></script> -->
        <meta charset="UTF-8">
        <title>OnOff</title>
        <link href="stylesheets/style.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/slate/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-G9YbB4o4U6WS4wCthMOpAeweY4gQJyyx0P3nZbEBHyz+AtNoeasfRChmek1C2iqV" crossorigin="anonymous">
    </head>
    <body>